YD11NL_1004/YD11NL_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT YD11NL_orarend (ora*)>
<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
<!ATTLIST ora 
    id ID #REQUIRED
    tipus (előadás|gyakorlat) "előadás">
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap, tol, ig)>
    <!ELEMENT nap (#PCDATA)>
    <!ELEMENT tol (#PCDATA)>
    <!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>